/* Define custom fonts */
@font-face {
  font-family: Custom-RobotoSlab; /* Font name */
  src: url(RobotoSlab.ttf); /* Font file */
}

@font-face {
  font-family: Custom-FireSans; /* Font name */
  src: url(FireSans.ttf); /* Font file */
}

/* Apply custom fonts to specified elements */
title, h1, h2, h3, h4 {
  font-family: Custom-RobotoSlab;
}

p {
  font-family: Custom-FireSans;
  font-size: small;
}

a {
  text-decoration: none;
  color: #04AA6D;
}

h4, h3 {
  text-align: center;
}

hr {
  margin-bottom: 20px;
}

/* Style for the top navigation bar */
.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center; 
  margin-top: 20px;
}

/* Style for links inside the navigation bar */
.topnav a {
  display: inline-block; /* Display links in a row */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change link color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Styling for the side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.header-container {
  display: flex;
  align-items: center;
}

h3 {
  margin: 0;
  flex: 1;
}

/* Style for the menu icon */
section > span {
  top: 145px; /* Adjust vertical position as preferred */
  left: 10px; /* Adjust horizontal position as preferred */
  font-size: 30px;
  cursor: pointer;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}

/* Styling for specific elements by ID */
#selectContainer {
  text-align: right;
}

#selectButton {
  margin-top: 10px; /* Adjust margin as preferred */
}

#my_dataviz, #stacked, #masterDiv, #heatmap-container, .chart-container, #map {
  margin: 0 auto;
  text-align: center;
}

/* Tooltip styling */
.tooltip {
  position: absolute;
  text-align: left;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.cell:hover {
  stroke: #333;
  stroke-width: 2;
}

/* Radar chart styling */
.radar-chart .area {
  fill-opacity: 0;
  fill: none;
}

.radar-chart.focus .area {
  fill-opacity: 0;
  fill-opacity: 0;
  fill: none;
}

.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
  fill-opacity: 0;
  fill: none;
}

/* Legend styling */
.legend {
  position: absolute;
  top: 10px;
  right: 10px;
}

.legend rect {
  width: 18px;
  height: 18px;
  fill: none;
  stroke-width: 2;
}

.legend text {
  padding-left: 5px;
  font-size: 12px;
}

/* Style for the link */
.arrow-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
}

/* Style for the icon */
.arrow-link i {
  margin-left: 5px;
}
/* Style for radio buttons */
#optionA,
#optionB {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
  position: relative;
}

#optionA:checked::after,
#optionB:checked::after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}


